$palatinal-blue: #1A29E8;
$nation-blue: #5698EE;
$porcelaine: #F0F2F4;
$zircon: #E0E3E4;
$alabster: #FAFAFA;
$mid-gray: #65696D;
$squeeze: #F2F6FA;

$color-default: $porcelaine;
$button-background-color: $porcelaine;
$color-primary: $palatinal-blue;
// $color-success
// $color-error
// $color-warning

$shadow-z0: 0 0 0 rgba(0,0,0,0);
$shadow-z1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-z2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
